{% extends base_html %}
{% load static %}
{% block titulo %} Login {% endblock %}



{% block conteudo %}
<div class="d-flex align-items-center py-4 ">
    <main class="w-100 m-auto formulario">
    
        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            <h1 class="h3 mb-3 fw-normal">Faça o Login</h1>
            <div class="form-floating">
                <input type="mail" name="usuario" class="form-control" id="floatingInput"placeholder="email"/>
                <label for="floatingInput">E-mail</label>
            </div>
            <div class="form-floating">
                <input type="password"  name="senha" class="form-control" id="floatingInput"placeholder="senha"/>
                <label for="floatingInput">Senha</label>
            </div>
            <div class="form-check text-start my-3">
                <input type="checkbox" class="form-check-input" id="flexCheckDefault"/>
                <label class="form-check-label" for="flexCheckDefault">Salvar</label>
            </div>
            <button class="btn btn-primary w-100 py-2">Entrar</button>
        </form>
    </main>
</div>
{% endblock %}
