{% extends base_html %}
{% load static %}
{% block titulo %} Deletar veiculo {% endblock %}


{% block conteudo %}
<div class="d-flex align-items-center py-4">
    <main class="w-100 m-auto formulario">
        <form action="/veiculo/deletar/{{object.pk}}/" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <h1 class="h3 mb-3 fw-normal text-center">Deseja deletar o veículo "{{object.get_marca_display}} {{object.modelo}}"</h1></h1>
            
            <button class="btn btn-danger w-100 py-2" type="submit">deletar Veículo</button>

        </form>
    </main>
</div>
{% endblock %}