{% extends base_html %}
{% load static %}
{% block titulo %} Listagem de veiculos {% endblock %}


{% block conteudo %}

<div class="row justify-content-center">
    <div class="input-group mb-3 w-50">
        <input type="text" class="form-control" placeholder="Pesquise um carro especifico" aria-label="Pesquise um carro especifico" aria-describedby="button-addon2">
        <button class="btn btn-outline-secondary" type="button" id="button-addon2">Pesquisar</button>
    </div>
</div>

{{ veiculos|length }} veiculo(s)

<ul class="list-group">
    {% for veiculo in veiculos %}
    <li class="list-group-item">
        <div class="vehicle-card">
            <div class="brand-model">
                <div class="brand">{{ veiculo.get_marca_display }}</div>
                <div class="model">{{ veiculo.modelo }}</div>
            </div>
            <div class="details">
                <div class="row">Ano: {{ veiculo.ano }}</div>
                <div class="row">Cor: {{ veiculo.get_cor_display }}</div>
                <div class="row">Combustível: {{ veiculo.get_combustivel_display }}</div>
            </div>
        </div>
    </li>
    {% endfor %}
</ul>

{% endblock %}


